.App {
  width: 300px;
  margin: 20px auto 20px auto;
  color: white;
}

.App > img{
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  display: block;
}

.main{
  padding: 20px 22px 20px 24px;
  background-color: #1A1B21;
}

.main > p{
  font-size: 12px;
}

.main > h1{
  font-weight: 700;
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
  line-height: 30px;
  margin-top: 0;
}
.main > h4{
  font-weight: 400;
  text-align: center;
  font-size: 12.5px;
  color: #F3BF99;
  margin-top: 0px;
  margin-bottom: 5px;
  text-align: center;
}
.main > h3{
  font-size: 16px;
  font-weight: 700;
}
.footer{
  background-color: #161619;
  padding: 20px 10px 20px 10px;
  border-radius: 0px 0px 10px 10px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.btn{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
button{
  width: 115px;
  border: 1px solid #D1D5DB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  height: 34px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 6px;
  display: flex;
  padding-top: 8px;
  margin-right: 13px;
  justify-content: space-evenly;
}

button:hover {
  background-color:#00A0C6; 
  cursor:pointer; 
  color: white; 
}

a {
  color: white;
}

a:hover {
  color:#00A0C6; 
  cursor:pointer; 
}
